.cheatsheet-spells {
    height: 85%;
}

.character-bar{
    height: 15%;
}

.inactive-tab{
    background-color: rgb(97, 97, 97);
}

.cheatsheet-spelltab ul{
    display: flex;
    flex-wrap: wrap;
}